<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width" />
		<title>Lista de veiculos</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
		rel="stylesheet"/>
		<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
		rel="stylesheet"/>
	</head>
	<body>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Veiculos</h1>
			</div>
			<div class="panel-body">
			
				<form th:object="${veiculo}" th:action="@{/veiculos}" class="form-inline" method="post" style="margin: 20px 0">
				
					<div class="form-group">
						
						<input type="text"class="form-control"placeholder="Marca"th:field="*{marca}"/>
						<input type="text"class="form-control"placeholder="Modelo"th:field="*{modelo}"/>
						<input type="text"class="form-control"placeholder="Ano de fabricação"th:field="*{anoFabricacao}"/>
						<input type="text"class="form-control"placeholder="Cor"th:field="*{cor}"/>
						<input type="text"class="form-control"placeholder="Quantidade de litros"th:field="*{litro}"/>
						<input type="text"class="form-control"placeholder="Km"th:field="*{km}"/>
						
					
						<button type="submit"class="btn btn-primary">Adicionar</button>
					</div>
				</form>
			
				<table class="table">
					<thead>
						<tr>
						<th>Modelo</th>
						<th>Marca</th>
						<th>Ano de fabricação</th>
						<th>Cor</th>
						<th>KM/L</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="veiculo : ${veiculos}">
							<td th:text="${veiculo.modelo}"></td>
							<td th:text="${veiculo.marca}"></td>
							<td th:text="${veiculo.anoFabricacao}"></td>
							<td th:text="${veiculo.cor}"></td>
							<td th:text="${veiculo.total}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>